@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}

#calculator{
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 700px;
    border-radius: 15px;
    box-shadow: 
        inset 10px 10px #DCDCDC,
        inset -10px -10px #CDCDCD,
        5px 5px 10px 5px rgba(0,0,0,0.5);
}

#display{
    font-family: 'Cute Font', sans-serif;
    background-color: darkgreen;
    color: greenyellow;
    box-shadow: inset 5px 4px #004400;
    display: flex;
    height: 159px;
    width: 90%;
    justify-content: flex-end;
    padding: 5%;
    font-size: 100px;
    border: solid black 3px;
    border-radius: 50px;
    box-sizing: border-box;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60%;
    width: 90%;
}

#equals {
    grid-row: auto/span 2;
}

#all-clear, #equals {
    background-color: gray;
    color: white
}

#backspace, #decimal, .operator {
    background-color: lightgray;
}

#button-0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

button {
    font-family: 'Courier Prime', monospace;
    box-shadow: 1px 1px 1px 1px black;
    box-sizing: border-box;
    font-size: 50px;
    margin: 2px;
}
